<!-- <div class="container-register mt-8">
  <div class="flex flex-column">
    <span class="text-lg mb-4 text-center color-text">Login</span>

    <mat-form-field>
      <mat-label> Usuario </mat-label>
      <input type="text" matInput placeholder="Nombre de Usuario" />
    </mat-form-field>

    <mat-form-field>
      <mat-label> Contraseña </mat-label>
      <input type="text" matInput placeholder="Contraseña" />
    </mat-form-field>

    <button mat-button mat-flat-button color="primary">
      Ingresar
      <mat-icon>input</mat-icon>
    </button>

    <div class="flex justify-content-end mt-5">
      <a routerLink="/auth/new-account"> ¿Ya tienes cuenta?</a>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="banner"></div>


  <div class="form-container">
    <form class="form_main" action="">
      <p class="heading">Login</p>
      <div class="inputContainer">
          <mat-icon class="inputIcon">account_circle</mat-icon>
      <input placeholder="Usuario" id="username" class="inputField" type="text">
      </div>

  <div class="inputContainer">
      <mat-icon class="inputIcon key"> key </mat-icon>
      <input placeholder="Contraseña" id="password" class="inputField" type="password">
  </div>


  <button id="button">Ingresar</button>
      <div class="signupContainer">
          <a routerLink="/auth/new-account">¿Ya tienes cuenta?</a>

      </div>
  </form>

  </div>
</div>
